$header-dark: #383838;
$header-orange: #ffa500;
$btn-color-orange: #ffb52c;
$bg-color: #fff5ee;
$task-bg-color: #eeeeee;
$white: #ffffff;
$black: #000000;
$send-btn-txt-color: #505739;
$send-btn-border-color:#333029;
$send-btn-bg-color: #eae0c2;

$font-stack: 'Prompt', sans-serif;